In [1]:
import pandas as pd
import numpy as np
import pickle, logging, spacy, sys, os, json, requests
import matplotlib.pyplot as plt

from helpers.classes import Collection
from tqdm import tqdm
from bs4 import BeautifulSoup
from datetime import datetime

In [13]:
DATASETS = os.listdir('datasets')

with open('pickles/collection_20210624_194932.pkl', 'rb') as f:
    collection = pickle.load(f)



# I should completely remove the other bulletins
# for now this has to do...
bulletin_names = list(collection.bulletins.keys())
# target bulletins are those with usable related datasets and main points
target_bulletins = []
dictionary = dict()
for bulletin in bulletin_names:
    if len(collection.bulletins.get(bulletin).get('main-points')) and len(collection.bulletins.get(bulletin).get('related-datasets')) > 0:
        target_bulletins.append(bulletin)

In [25]:

for bulletin in target_bulletins:
    main_points = collection.bulletins.get(bulletin).get('main-points')
    related_datasets = collection.bulletins.get(bulletin).get('related-datasets')
    for dataset in related_datasets:
        df_name = dataset.replace('/', '_')[1:]
        df = pd.ExcelFile(f'datasets/{df_name}.xls')
        # print(dataset, '\n', df_name)
    break

In [31]:
df.parse('Contents')

   ANNUAL BUSINESS SURVEY - 2019 Results                           Unnamed: 1
0                                    NaN                                  NaN
1              Release Date 24 June 2021                                  NaN
2                                    NaN                                  NaN
3                                    NaN  Table of Contents - Click to select
4                                    NaN                                  NaN
..                                   ...                                  ...
58        Office for National Statistics                                  NaN
59                                   NaN                                  NaN
60                      ABAPS@ons.gov.uk                                  NaN
61            melanie.richard@ons.gov.uk                                  NaN
62         Telephone: +44 (0)1633 455747                                  NaN

[63 rows x 2 columns]

In [34]:
df.sheet_names

['Contents',
 'Sections A-S',
 'Section A',
 'Section B',
 'Section C',
 'Section D',
 'Section E',
 'Section F',
 'Section G',
 'Division 45',
 'Division 46',
 'Division 47',
 'Section H',
 'Section I',
 'Section J',
 'Section L',
 'Section M',
 'Section N',
 'Section P',
 'Section Q',
 'Section R',
 'Section S']